@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$primary-font: "Playfair Display", serif;
$secondary-font: "DM Sans", sans-serif;

$black: #000;
$white: #fff;
$accent: #f2b43b;
$accent-hover: #f1a510;

@import "./_shuffle.js";
@import "./_lightbox";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: none;
}

a#logo {
    width: 13em;
    display: block;
    margin: 2em auto;

    img {
        width: 13em;

        @media only screen and (min-width: 36em) {
            width: 15em;
        }
    }

    @media only screen and (min-width: 36em) {
        width: 15em;
    }

    @media only screen and (min-width: 62em) {
        margin: 3em auto 2em auto;
    }

    @media only screen and (min-width: 75em) {
        margin: 4em auto 2em auto;
    }
}

main {
    margin: 0 1em;

    h1 {
        color: $accent;
        font-size: 2rem;
        text-align: center;

        @media only screen and (min-width: 36em) {
            font-size: 3rem;
        }
    }

    h2 {
        font-size: 1.8rem;
        text-align: center;

        @media only screen and (min-width: 36em) {
            font-size: 2rem;
        }
    }

    #about {
        margin: 2em auto;

        p {
            font-family: $secondary-font;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    #kontakt {
        width: 100%;
        gap: .5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 2em auto 4em auto;

        a {
            color: $accent;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $white;
            }
        }
    }

    @media only screen and (min-width: 36em) {
        width: 90%;
        margin: auto;
    }

    @media only screen and (min-width: 62em) {
        width: 80%;
    }

    @media only screen and (min-width: 75em) {
        width: 75%;
    }

    @media only screen and (min-width: 100em) {
        width: 70em;
    }
}

footer {
    margin: 2em 0;

    a {
        color: inherit;
        text-decoration: none;
    }

    p {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        margin: 0;
    }

    #signature {
        p {
            margin-bottom: 0.5em;

            a {
                transition: color 100ms ease-in-out;

                &:hover {
                    color: $accent;
                }
            }

            svg {
                height: 12px;
                fill-rule: evenodd;
                clip-rule: evenodd;
                stroke-linejoin: round;
                stroke-miterlimit: 2;

                path {
                    fill: $accent;
                }
            }
        }
    }

    &>p a {
        transition: color 100ms ease-in-out;

        &:hover {
            color: $accent;
        }
    }
}